@model Projekt.Models.ErrorViewModel

@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Wystąpił błąd</h1>
<h2 class="text-danger">
    Podczas przetwarzania żądania wystąpił nieoczekiwany problem.
</h2>

<p>
    Spróbuj ponownie później lub wróć na stronę główną.
</p>

@if (Model.ShowRequestId)
{
    <p class="text-muted">
        <strong>Identyfikator żądania:</strong>
        <code>@Model.RequestId</code>
    </p>
}
