@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy w systemie rezerwacji hoteli</h1>
    <p class="lead">Przeglądaj dostępne hotele oraz zarządzaj swoimi rezerwacjami.</p>
</div>
